pudb
ipdb

# https://github.com/jonathanslenders/ptpdb
ptpbd

jupyter

# https://github.com/romanvm/python-web-pdb
web-pdb


# https://github.com/Kozea/wdb
wdb.server
wdb

# If you install pdbpp
# it will overwrite your pdb
# so install pdbpp only if you want to overwrite (temporarly) your pdb module.
# pip install pdbpp
